# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Logs
*.log

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec

# Visual Studio
*.dbmdl
.vs/

# Test results
TestResult*/
*.VisualState.xml
*.coverage
*.coveragexml

# Entity Framework
Migrations/

# Temporary files
~$*
*.tmp
*.bak

# Other
node_modules/
wwwroot/lib/
appsettings.*.json
.env
